adf-dream-analytics-prod2/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-dream-analytics-prod2"
		},
		"AzureDataLakeStorage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsgen2dreamprod2.dfs.core.windows.net/"
		},
		"AzureSqlDatabase_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "adl-dream-analyst-prod-server.database.windows.net"
		},
		"AzureSqlDatabase_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "books"
		},
		"ls_adf_keyvault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://akv-dream-analytics.vault.azure.net/"
		},
		"ls_adf_databricks_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0620-211351-7pmnjgde"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage_properties_typeProperties_url')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('AzureSqlDatabase_properties_typeProperties_server')]",
					"database": "[parameters('AzureSqlDatabase_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SystemAssignedManagedIdentity"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_adf_keyvault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('ls_adf_keyvault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_bronze_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_folder_name": {
						"type": "string"
					},
					"p_file_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().p_file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().p_folder_name",
							"type": "Expression"
						},
						"fileSystem": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_source_sql')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_adf_databricks')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-7405605281219909.9.azuredatabricks.net",
					"accessToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ls_adf_keyvault",
							"type": "LinkedServiceReference"
						},
						"secretName": "databricks-access-token"
					},
					"existingClusterId": "[parameters('ls_adf_databricks_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adf_keyvault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_all_file_ingestion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LKP_Read_MetaData",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "SET_Ingestion_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * FROM control.IngestionMetadata WHERE IsActive = 1",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_source_sql",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "FRL_Process_Tables",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LKP_Read_MetaData",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('LKP_Read_MetaData').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "If Check_Ingestion_type",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(item().WatermarkColumn, json('null') )",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "LKP_Get_Current_Version",
												"type": "Lookup",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT CHANGE_TRACKING_CURRENT_VERSION() AS CurrentVersion;",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "ds_source_sql",
														"type": "DatasetReference",
														"parameters": {}
													}
												}
											},
											{
												"name": "CPY_Incremental_Bronze",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "LKP_Get_Current_Version",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT t.* FROM [@{item().SourceSchema}].[@{item().SourceTableName}] AS t\n    INNER JOIN CHANGETABLE(CHANGES [@{item().SourceSchema}].[@{item().SourceTableName}], @{item().LastChangeVersion}) AS CT\n    ON t.[@{item().WatermarkColumn}] = CT.[@{item().WatermarkColumn}]",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "ds_source_sql",
														"type": "DatasetReference",
														"parameters": {}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_bronze_csv",
														"type": "DatasetReference",
														"parameters": {
															"p_folder_name": {
																"value": "@concat('dream_app/',item().TargetFolderName, '/', \nvariables('v_ingestion_date'))",
																"type": "Expression"
															},
															"p_file_name": {
																"value": "@concat(toLower(item().SourceTableName), '_', formatDateTime(utcNow(), 'yyyyMMdd_HHmmss'),'.csv')",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "SCR_Update_Metadata_Version",
												"type": "Script",
												"dependsOn": [
													{
														"activity": "CPY_Incremental_Bronze",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "AzureSqlDatabase",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"type": "NonQuery",
															"text": {
																"value": "UPDATE control.IngestionMetaData\nSET LastChangeVersion = @{activity('LKP_Get_Current_Version').output.firstRow.CurrentVersion}\nWHERE SourceSchema = '@{item().SourceSchema}'\n    AND SourceTableName = '@{item().SourceTableName}'",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "CPY_Full_Load_Bronze",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "SELECT * FROM [@{item().SourceSchema}].[@{item().SourceTableName}]",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "ds_source_sql",
														"type": "DatasetReference",
														"parameters": {}
													}
												],
												"outputs": [
													{
														"referenceName": "ds_bronze_csv",
														"type": "DatasetReference",
														"parameters": {
															"p_folder_name": {
																"value": "@concat('dream_app/', item().TargetFolderName, '/',\r\nvariables('v_ingestion_date'))",
																"type": "Expression"
															},
															"p_file_name": {
																"value": "@concat(toLower(item().SourceTableName), '_', formatDateTime(utcNow(), 'yyyyMMdd_HHmmss'), '.csv')",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									}
								},
								{
									"name": "nb_STG_Bronze_to_Silver_Generic",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "If Check_Ingestion_type",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": {
											"value": "/Workspace/Users/mehranalibaloch8023@outlook.com/Taxi-Analytics-End-to-End-Enterprise-Lakehouse/databricks/01_silver/STG_Bronze_to_Silver_Generic",
											"type": "Expression"
										},
										"baseParameters": {
											"p_source_folder": "bronze",
											"p_target_table": {
												"value": "@item().TargetFolderName",
												"type": "Expression"
											},
											"p_date_path": {
												"value": "@variables('v_ingestion_date')",
												"type": "Expression"
											},
											"p_primary_key": {
												"value": "@item().PrimaryKeyColumn",
												"type": "Expression"
											},
											"p_file_name": {
												"value": "@toLower(item().SourceTableName)",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ls_adf_databricks",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "nb_silver_to Gold_customers",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "FRL_Process_Tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": {
								"value": "/Workspace/Users/mehranalibaloch8023@outlook.com/Taxi-Analytics-End-to-End-Enterprise-Lakehouse/databricks/02_gold/gold_dim_customers",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_adf_databricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "nb_silver_to Gold_drivers",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "FRL_Process_Tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": {
								"value": "/Workspace/Users/mehranalibaloch8023@outlook.com/Taxi-Analytics-End-to-End-Enterprise-Lakehouse/databricks/02_gold/gold_dim_drivers",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_adf_databricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "nb_silver_to Gold_locations",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "FRL_Process_Tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": {
								"value": "/Workspace/Users/mehranalibaloch8023@outlook.com/Taxi-Analytics-End-to-End-Enterprise-Lakehouse/databricks/02_gold/gold_dim_locations",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_adf_databricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "nb_silver_to Gold_trips",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "nb_silver_to Gold_customers",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "nb_silver_to Gold_drivers",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "nb_silver_to Gold_locations",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": {
								"value": "/Workspace/Users/mehranalibaloch8023@outlook.com/Taxi-Analytics-End-to-End-Enterprise-Lakehouse/databricks/02_gold/gold_fact_trips",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_adf_databricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "nb_star_schema_to_presentation",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "nb_silver_to Gold_trips",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": {
								"value": "/Workspace/Users/mehranalibaloch8023@outlook.com/Taxi-Analytics-End-to-End-Enterprise-Lakehouse/databricks/03_reporting/gold_presentation_layer",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_adf_databricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SET_Ingestion_Date",
						"description": "a",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "v_ingestion_date",
							"value": {
								"value": "@formatDateTime(utcNow(), 'yyyy/MM/dd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "WEB_Send_Failure_Email",
						"type": "WebActivity",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "FRL_Process_Tables",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "nb_silver_to Gold_locations",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "nb_silver_to Gold_drivers",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "nb_silver_to Gold_customers",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "nb_silver_to Gold_trips",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "nb_star_schema_to_presentation",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-22.uaenorth.logic.azure.com:443/workflows/55a65ea19e23454f8e388540abdcb00a/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=oag1ZlN_Evrp-qqwRUPepa62ilkCscFCGdDz3Mwl83E",
							"body": {
								"value": "{\n    \"PipelineName\": \"@{pipeline().Pipeline}\",\n    \"RunId\": \"@{pipeline().RunId}\",\n    \"ErrorMessage\": \"Pipeline failed during the execution of loop or gold layers. Check ADF Monitor logs.\"\n}\n``` [10]",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"v_ingestion_date": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-06-07T16:33:52Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_source_sql')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_adf_databricks')]",
				"[concat(variables('factoryId'), '/datasets/ds_bronze_csv')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trg_daily_ingestion_06am')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_all_file_ingestion",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 1,
						"startTime": "2026-06-16T06:00:00",
						"timeZone": "Pakistan Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_all_file_ingestion')]"
			]
		}
	]
}